{% extends "inventory/parts/plasmid-base.html" %}
{% load static %}

{% block content %}
{% if plasmid %}
    {% if warnings %}
    {% for warning in warnings %}
        <div class="alert alert-warning">{{warning}}</div>
    {% endfor %}
    {% endif %}
    {% if sequence_file_contents %}
        <!-- OVE -->
        {% if request.COOKIES.dark_mode == 'true' %}
            <div id="ove-viewer" class="bp3-dark"></div>
        {% else %}
            <div id="ove-viewer"></div>
        {% endif %}
        <script>
            var sequence_file_contents = `{{sequence_file_contents}}`;
            var save_ove_path = '{% url 'plasmid_view_edit' plasmid_id=plasmid.id %}';
        </script>
        <!-- <script type="text/javascript" src="https://unpkg.com/@teselagen/ove/index.umd.js{{version}}"></script> -->
        <script type="text/javascript" src="{% static 'js/open-vector-editor.js' %}{{version}}"></script>
        <script type="text/javascript" src="{% static 'js/open-vector-editor-config.js' %}{{version}}"></script>
        <!-- /OVE -->
    {% else %}
        <p>No plasmid sequence file found.</p>
    {% endif %}
{% else %}
    <div class="alert alert-warning">No plasmid found.</div>
{% endif %}
{% endblock %}