<div class="form-check form-switch float-start me-4 pt-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Show elements from all my projects">
  <form method="post" class="default-style" action="{% url 'show_from_all_projects_toggle' %}?next={{request.get_full_path}}">
    {% csrf_token %}
    <label class="form-check-label" for="show_from_all_projects">All</label>
    <input class="form-check-input" type="checkbox" role="switch" id="show_from_all_projects" {% if show_from_all_projects %}checked{% endif %} />
  </form>
</div>