{% extends "protocols/parts/recipe-base.html" %}

{% block content %}
{% load humanize %}
{% if recipe %}
{% include "inventory/form_results.html" %}
<div id="recipe-prepare" class="result">
    <h2 id="recipe-prepare-title">
        Prepare recipe
    </h2>
    {% include "./parts/recipe-variant-prepare.html" %}
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Name</th>
        <td>{{recipe.name}}</td>
    </tr>
    <tr>
        <th scope="row">Code</th>
        <td>{{recipe.code}}</td>
    </tr>
    <tr>
        <th scope="row">Components</th>
        <td>
            <table class="table mb-0 sortable">
                <thead>
                <th scope="col">Reactive</th>
                <th scope="col">Reactive / Edit</th>
                <th scope="col">Concentration</th>
                <th scope="col">Unit</th>
                {% if user_can_edit_recipe %}
                <th scope="col" data-defaultsort='disabled'>Edit</th>
                {% endif %}
                </thead>
                <tbody>
                {% with user_can_edit_recipe as allowed_to_edit %}
                {% for component in recipe.components.all %}
                {% include "./parts/print_component_row.html" %}
                {% endfor %}
                {% with True as optional %}
                {% for component in recipe.optional_components.all %}
                {% include "./parts/print_component_row.html" %}
                {% endfor %}
                {% endwith %}
                {% endwith %}
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <th scope="row">pH</th>
        <td>{{recipe.ph}}</td>
    </tr>
    <tr>
        <th scope="row">Description</th>
        <td>{{recipe.description}}</td>
    </tr>
    <tr>
        <th scope="row">Categories</th>
        <td>{{recipe.category.all|join:" / "}}</td>
    </tr>
    <tr>
        <th scope="row">Projects</th>
        <td>{{recipe.shared_to_project.all|join:" / "}}</td>
    </tr>
    <tr>
        <th scope="row">Variants</th>
        <td>
            {% include "./parts/print_variants_links.html" %}
            {% if user_can_edit_recipe %}
            <a href="{% url 'variant_create' recipe_id=recipe.id %}" class="btn btn-primary" role="button"><i class="bi bi-plus"></i></a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Owner</th>
        <td>{{recipe.owner.last_name}}, {{recipe.owner.first_name}}</td>
    </tr>
    </tbody>
</table>
{% else %}
<div class="alert alert-danger">No recipe found.</div>
{% endif %}
{% endblock %}